
body {
    padding: 0;
    margin: 0;
    
}
html, body, #map {
    height: 100%;
    width: 100vw;
}

#map {
    background-color: #333;
    background-image:url('../images/space.png');
}

img {
    image-rendering: pixelated;
}